<!DOCTYPE html>
<html>
<head>
  <title>Pesquisa-Operacional</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#disboard">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Pesquisa-Operacional", root_path, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="disboard">
      <ul class="nav navbar-nav">
        <%= nav_active_btn("Simplex", simplex_index_path) %>
      </ul>
    </div>
  </div>
</nav>
<div class="conteiner-fluid maxh">

  <%= yield %>

</div>
</body>
</html>